<div class="container py-5">
  <div class="d-flex align-items-center justify-content-between mb-3">
    <h1 class="mb-0">My Lists</h1>
    <%= link_to "Create a movie list", new_list_path, class: "btn btn-flat" %>
  </div>
  <div class="row">
    <% @lists.each do |list| %>
      <div class="co-12 col-sm-6 col-md-4 mb-3">
        <div class="card" style="width: 20rem;">
          <% if list.photo.attached? %>
              <div class="image_tag"><%= cl_image_tag list.photo.key, height: 270 %> </div>
          <% end %>
          <div class="card-body">
            <h1 class="card-title"> <%= list.name %> </h1>
            <p class="card-text"> <%= list.name %> </p>
            <div class="text-center">
              <%= link_to "View list", list_path(list), style: "text-decoration: none;", class: "btn-flat-view" %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
