
<div>
   <div class="card-category card-large" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= cl_image_path(@list.photo.key) %>)">
    <h1><%= @list.name %></h1>
  </div>
</div>



<div class="container">
  <div class="d-flex align-items-center justify-content-between my-3">
    <h1>My Lists: <%= @list.movies.count %> </h1>
    <div>
      <a class= "btn btn-flat" href="#container-add"> Add new movie </a>
      <%= link_to "Delete", list_path(@list),data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class: "btn btn-flat"%>
      <%= link_to "Edit",edit_list_path(@list), class: "btn btn-flat"%>
    </div>
  </div>

  <div class="row my-2">
    <h1>List detail</h1>
    <% @list.movies.each do |movie| %>
      <% bookmark = Bookmark.find_by(list: @list, movie: movie) %>
      <div class="col-12 col-sm-6 mb-4" data-aos="zoom-in">
        <div class="bg-white rounded shadow h-100">
          <%= image_tag movie.poster_url, alt: movie.title, class: "movie-img rounded-top" %>
          <div class="p-3 rounded-bottom d-flex flex-column">
            <small class="text-muted"><%= movie.overview %></small>
            <div class="d-flex pt-4 d-flex justify-content-between ">
              <p> <%= bookmark.comment %> </p>
              <%= link_to "Delete", bookmark_path(bookmark),data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}%>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>

  <hr>

  <div id="container-add" class="col-12 col-sm-6 mb-5">
    <div class="bg-white rounded p-3">
      <h3>Add new movie</h3>
      <%= simple_form_for [@list, @bookmark] do |f| %>
        <%= f.error_notification %>
        <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

        <div class="form-inputs">
          <%= f.input :comment %>
          <%= f.association :movie, label_method: :title, as: :select %>
        </div>

        <div class="form-actions">
          <%= f.button :submit, class: "btn btn-flat" %>
        </div>
      <% end %>
    </div>
  </div>

</div>
